body {
    background: #000000;
    color: #eeeeee;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Tahoma, Arial, serif;
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
}

h1 {
    line-height: 1.5;
}

a {
    color: #d166ff;
}

a:hover {
    color: #ffffff;
}

.header {
    background: #751a9c;
    color: #ffffff;
    text-align: center;
    padding-bottom: 2px;
}

.links {
    background: #000000;
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.header .minimal p {
    font-size: 12px;
}

.underline {
    text-decoration: underline;
    margin-bottom: 20px;
}

.footer {
    background: #751a9c;
    color: #ffffff;
    text-align: center;
}

.footer a {
    color: #edabff;
    text-align: center;
}